html {
  scroll-behavior:smooth;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}

input[type=checkbox]{
  accent-color: #81B214;
}


body {
 font-family: 'Poppins', sans-serif;;
  background: #F1F1E8;
  
  
  
}

        /*INICIO ESTILIZAÇÃO nav BAR */

header {
  width: 100%;
  position: fixed;
  border: 0;
  padding:10px ;
  
  background: #81B214;
  color: #fff !important;
  z-index: +1;
  border-bottom: 10px solid #bedd80;
  box-shadow: inset 1px 1px 0 rgb(190, 190, 190), 0 2px 3px rgb(0 0 0 / 40%);

}

.headerContainer {
  max-width: 1200px;
  min-width: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.navBar {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navBar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.navBar ul li a {
  margin: 3rem;
  ;
}

.logo{
  max-width: 80px;
  max-height: 80px;
  margin: 0;
  border: 0;
}

.cart {
  margin-right: 10px;
  cursor: pointer;
}

.cart a {
  height: 10px;
  border-radius: 50px;
  background-color: #e4e4e4;
  border: 0;
  box-shadow: inset 1px 1px 0 rgb(190, 190, 190), 0 2px 3px rgb(0 0 0 / 40%);
  font-weight: 500;
  color: rgb(12, 12, 12) !important;
  padding: 0.5rem 2rem;
  text-align: center transition: .07s;
  text-decoration-line: none;
}

.cart a:hover {
  background-color: #bedd80;
}

        /* FIM ESTILIZAÇÃO NAV BAR */
        /* INICIO ESTILIZAÇÂO MODAL 1/2 */

.modal1 {
   display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(63, 58, 58, 0.24);
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 800ms ease-in-out;
  -moz-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
  pointer-events: none;
  
}
/* altera a opacidade mortal para ficar visivel*/
.modal1:target { 
  opacity: 1;
  pointer-events: auto;
}


.btn:hover{
  background-color: #bedd80;
}

.modal1>div {
  max-width: 35rem;
  max-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 15px;
  border: 1px solid #81b61057;
  background-color: #30292910;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px)
}

.modal2 {
  display: flex;
  position: fixed;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(63, 58, 58, 0.24);
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal2>div {
  max-width: 35rem;
  max-height: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 15px;
  border: 1px solid #81b61057;
  background-color: #30292910;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px)
}

.inputValue{
  margin: 2vh;
}

.submitValue{
 
 padding: 10px;
  border-radius: 50px;
  text-align: center;
}

.submitValue:hover{
  background-color: #bedd80;
}


.modal3 {
  display: flex;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(63, 58, 58, 0.24);
 opacity: 0;
 z-index: 2;
 -webkit-transition: opacity 800ms ease-in-out;
 -moz-transition: opacity 800ms ease-in-out;
 transition: opacity 800ms ease-in-out;
 pointer-events: none;
 
}


.modal3>div {
 max-width: 35rem;
 max-height: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 10% auto;
 padding: 5px 20px 13px 20px;
 border-radius: 15px;
 border: 1px solid #81b61057;
 background-color: #30292910;
 backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px)
}


.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
  cursor: pointer;
}

.btn{
  padding: 10px;
  border-radius: 50px;
  
}

     /* FIM EDIÇÂO MODAL */

     /*INICIO ESTILIZAÇÂO DE Itens do MAIN*/

#itemList {
  padding-top: 9rem;
  width: 100vh;
  height: 94vh;
  overflow:overlay
}

.task{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300vh;
  min-width: 125px;
  min-height: 75px;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 0 rgb(190, 190, 190), 0 2px 3px rgb(0 0 0 / 40%);
  flex-wrap: wrap;
  background-color: #3d550857;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px)
    
}

.taskLabel{
  width: 75vh;
  min-width: none;
  word-wrap: break-word;
}

.taskCheckbox {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.taskCheckbox:checked +.taskLabel{
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}

.container{
  max-width: 1200px;
  max-height: 800px;
   display: flex;
   justify-content: space-evenly;
   margin: auto;
 }

 .values{
  border-radius: 10px;
  margin: 10px;
  min-height: 150px;
  max-height: auto;
  box-shadow: inset 1px 1px 0 rgb(190, 190, 190), 0 2px 3px rgb(0 0 0 / 40%);
  background-color: #81b61057;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px)
 }

 .value{
   font-size: x-large;
   padding: 20px;
 }

 .deleteItemBtn{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
}

.deleteItemBtn:hover{
  background-color: #ff4545;
}

.tittleValue{
  margin: 5px;
  
}

.footer {
  object-fit: contain;
  position: absolute;
  bottom: 0;
  width: auto;
  height: 100px;
  width: 100%;
}

.footer img {
  width: auto;
  height: auto;
}


.total{
  margin-top: 9.5rem;
}

.values{
  max-width: 25vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




     /* FIM EDIÇÂO MODAL */

     /*INICIO ESTILIZAÇÂO DE Itens do MAIN*/


.footer{
  background: url('./Images/teste8.png');
  height: 20vh

}









  







